name: state_lifecycle_observer
description: "A reusable Flutter state observer pattern implementation."
version: 0.0.8
repository: https://github.com/lwj1994/state_lifecycle_observer
homepage: https://github.com/lwj1994/state_lifecycle_observer
issue_tracker: https://github.com/lwj1994/state_lifecycle_observer/issues

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
